.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formControl {
  position: relative;
  width: 100%;
}

.formControl input {
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 2px;
}

.formControl span {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  transition: all 0.3s ease;
}

.formControl input:focus ~ span,
.formControl input:not(:placeholder-shown) ~ span {
  top: 2px;
  left: 10px;
  font-size: 13px;
  color: var(--primary);
  background-color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.error input {
  border: 1px solid red;
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  70% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.errorText {
  color: red;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 2px;
}

.passwordIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  cursor: pointer;
}

.formControl input:focus ~ .passwordIcon,
.formControl input:not(:placeholder-shown) ~ .passwordIcon {
  color: var(--primary);
}
