.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form h1 {
  text-align: center;
}

.form > p {
  text-align: center;
}

.form .formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
