.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.myMessage {
  align-self: flex-end;
}

.myMessage p,
.otherMessage p {
  color: white;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.otherMessage p {
  background-color: rgba(255, 0, 0, 0.5);
}

.otherMessage {
  align-self: flex-start;
}

.input {
  flex: 1;
  display: flex;
}

.input input {
  width: 95%;
}
